@import url('https://fonts.googleapis.com/css2? família=Justo&família=Sarala:wght@400;700&família=Yanone+Kaffeesatz&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url(./assets/background4.png);
}

.cabecalho {
    
    display: flex;
    Position: sticky;
    top: 0px;
    align-items: center;
    /* background: linear-gradient(68.15deg, #42CBBD 10.62%, #0c08f3 90.61%); */
    background: linear-gradient(70.15deg, #42CBBD 10.62%, #0e0d30 40.61%);

    font-size: 20px;
    gap: 28px;
    justify-content: space-around;
    opacity: 0.9;
}
.logo {
    float: right;
}
.cabecalho:hover {
    opacity: 1;
}

.cabecalho-menu {
   
   display: flex;
  
}


li {
    
    margin-left: 80px;
    font-family: 'Sarala', sans-serif;
    color: white;
    font-size: bold;
    font-weight: 400;
    font-weight: bold;
    list-style-type:circle
    
    

}

li:hover {
    display: block;
    color: darkblue;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.3px solid #fff2e7;
    
    
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: url(./assets/background2.png);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    border: 2px solid black;
   
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.conteudo-principal-nome{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 3em;
    color: #42CBBD;
}

span {
    color: #fff2e7;
}

.conteudo-principal-escrito-botao:hover {
   
    background: linear-gradient(68.15deg, #42CBBD 15.62%, #0e0d30 85.61%);
}

.conteudo-principal-escrito-botao {

    width: 542.84px;
    height: 60px;
    border: 1px solid #42CBBD;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 8px;
    margin: 0;
    padding: auto;
    display: inline;


    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black;
   
}


section  {
    padding: 30px;
}
.formContainer{
    box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.25);
    max-width: 450px;
    /* background-color: darkcyan; */
    background: linear-gradient(40.15deg, #42CBBD 10.62%, #0e0d30 60.61%);
    padding: 30px;
    float:right;
    margin-top: 100px;
    
}

h2, p {
    font-size: 21px;
}

.mb {
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input[type="submit"] {
    color: white;
    background-color: turquoise;
    font-weight: bold;
}

input:hover{
    background-color: rgb(1, 2, 2);
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: url(./assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
}


.conteudo-secundario {
    background: url(./assets/background3.png);
    border: 0.7px solid black;
    box-shadow: 20px 25px 4px rgba(0, 0, 0, 0.28);
    
}

.meu-rosto {
    width: 500px;
    height: 500px;
}


.conteudo-secundario {
    display: flex;
    margin-left: 10em;
    gap: 10em;
    align-items: center;
    margin-top: 13em;
}

.conteudo-sobre-mim {
    display: flex;
    flex-direction: column;
    /* border: 0.1em solid #525252;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2em);
    border-radius: 23px; */
    width: 50em;
}

.conteudo-2-titulo {
    font-size: 2em;
    padding: 1em;
    color: #42CBBD ;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.conteudo-2-paragrafo{
    color: white;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size:1.3em;
    padding: 1.5em;
}

.rodape {

    padding: 32px;
    border-top: 0.4px solid #000000;
}

.rodape-imagem {

    height: 60px;
    display: block;
    margin: 0 auto;

}